.header ul {
    list-style-type: none;
    padding: 0;
}

.header a{
    text-decoration: none;
    /* text-align: center; */
    color: ffffff;
    display: block;
    padding: 10px;
    background-color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.header a:hover {
    background-color: #555;
}

    .header ul{
        display: flex;
    }

    .name-menu {
        justify-content: flex-start;
    }
    
    .rest-of-menu {
        justify-content: flex-end;
    }
    
}